/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLE GENERAL */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    padding: 15px 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-text {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

/* NAVIGATION */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li {
    margin-left: 0px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* SECTIONS */
section {
    padding: 60px 20px;
    text-align: center;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}




